node_modules
dist
*-dist
**/*.min.js
**/*-min.js
**/*.bundle.js
*.sh
*.md
*.woff
*.ttf
.vscode
.idea
.husky
Dockerfile
coverage
locales
__fixtures__
__snapshots__
__tests__
es
cjs

# 自动生成的文件，不要手动修改！
packages/common/tracks/src/tracks
